
<nav class="nav p-3" style="background-color: teal; font-family: 'Playfair Display', serif;">
    <div class="container-fluid d-flex " style="width: 100%;">
        <i class="fa-solid fa-graduation-cap fa-2x text-white"></i>
        <a class="text-white" style="display: inline;margin-left: 1.25rem; font-size: 1.75rem;text-decoration: none;">Education ERP</a>
    </div>
    <button *ngIf="logged" (click)="logOut()" class="btn btn-danger d-flex align-items-center p-1 " style="margin-left: 90%;display: inline;">Log out<i class="fa-solid fa-power-off ms-2 align-middle"></i></button>
</nav>

